{% extends 'baseDash.html.twig' %}

{% block body %}


	<div class="col-md-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-arrow has-gap has-bg">
				<li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="material-icons">home</i> Home</a></li>
				<li class="breadcrumb-item"><a href="javascript:void(0)">Categories</a></li>
				<li class="breadcrumb-item active"><a href="javascript:void(0)">List Categories</a></li>
			</ol>
		</nav>
	</div>


	<div class="col-md-12">
		<div class="col-md-8 mx-auto">
			<div class="ms-panel">
				<div class="ms-panel-header mb-4">
					<h6 class="float-left">Categories List</h6>

					<div class="col-12 text-right p-0">
						<a href="{{ path('newCategory') }}" class="btn btn-primary shadow-none">{% trans %}New Category{% endtrans %}</a>
					</div>

					{% for  message in app.flashes('success') %}
						<div class=" text-success font-weight-bold float-right">{{ message }}</div>
					{% endfor %}

					{% for  message in app.flashes('error') %}
						<div class=" text-danger font-weight-bold float-right">{{ message }}</div>
					{% endfor %}
				</div>
				<div class="ms-panel-body">

					<div class="table-responsive">
						<table id="example4" class="table table-hover thead-primary text-center">
							<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Sub Categories</th>
								<th scope="col">image</th>
								<th scope="col">Action</th>
							</tr>
							</thead>
							<tbody>

							{% for Category in Categories |sort|reverse %}
								<tr>
									<td>{{ Category.name }}</td>

									{% if Category.subCategories is not empty %}
										<td>
											<a href="{{ path('listSubCategory',{'category':Category.id})}}" class="btn btn-primary shadow-none btn-variant">{% trans %}Change{% endtrans %}</a>
										</td>
									{% else %}
										<td>
											<a href="{{ path('listSubCategory',{'category':Category.id})}}" class="btn btn-danger shadow-none btn-variant">{% trans %}Add{% endtrans %}</a>
										</td>
									{% endif %}

									<td>
										{% if Category.imageUrl is not empty %}
											<img src="{{ asset('images/category/') }}{{ Category.imageUrl }}" width="60px" height="60px">
										{% else %}
											<img src="{{ asset('dashAssets/img/tag.png') }}" width="60px" height="60px">
										{% endif %}
									</td>


									<td>
										<a href='{{ path('editCategory',{'id':Category.id})}}'><i class='fas fa-edit text-success'></i></a>
										<a href='javascript:void(0)' data-toggle="modal" data-target="#modal-1" onclick='deleteAction("{{ path('deleteCategory',{'id':Category.id})}}")'><i class='far fa-trash-alt ms-text-danger'></i></a>
									</td>
								</tr>
							{% endfor %}


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-1">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<h3 class="modal-title has-icon ms-icon-round "><i class="flaticon-alert-1 bg-primary text-white"></i>Delete Confirm !</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>

				<div class="modal-body">
					<p>Do you really want to delete ?</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
					<a href="#" class="btn btn-primary shadow-none" id="linkDelete">Delete</a>
				</div>

			</div>
		</div>
	</div>

{%  endblock %}
